html, body {
  height: 100%;
}



.amigos{
  min-width: 10rem;
  max-width: 11rem;
  background-color: #ffffff; 
  margin: auto; 
  float: none;
}


.img{
  width: 100%;
  margin: auto;
  float: none;
}

.max-tela{
  max-width: 950px;
  
}

.figure1{
    width: 10rem;
    position: absolute;
    max-width: 20%;
    left: 5px;
    bottom: 5px;
    border: 2px solid rgb(50, 50, 50);
  }