html, body {
  height: 100%;
}



img{
  width: 100%;
  margin: auto;
  float: none;
}

.max-tela{
  max-width: 900px;
  margin: auto;
  float: none;
}

.figure1{
    width: 10rem;
    position: absolute;
    max-width: 20%;
    left: 5px;
    bottom: 5px;
    border: 2px solid rgb(50, 50, 50);
  }